@model IEnumerable<WebApplication.Models.EmployeeViewModel>

@{
    ViewBag.Title = "GetAllEmployee";
}

<h2>List Of All Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "GetEmployeeInfo", new { EmpId = item.EmpId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>